*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.mainContainner{
    height: 88svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141414;
    background-size: 100% 100%; 
    transition: 500ms;
}

.Content{
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media only screen and (max-width: 1000px){
        flex-direction: column;
        align-items: start;
    }
}

.ContentLogo{
    width: 50rem;
    padding-right: 5%;
    opacity: 0.8;
    @media only screen and (max-width: 1000px){
        width: 8rem;
        padding-bottom: 5%;
    }
}

.ContentLogoImage{
    width: 100%;
    height: auto;
}

.Content p{
    color: #555555;
    font-size: 1.2rem;
    font-weight: 500;
    .wordMyName{
        font-size: 1.2rem;
        font-weight: 800;
        color: white;
        background-color: #333333;
        border-radius: 100rem;
        font-style: italic;
        padding: 0.14rem 0.6rem;
        @media only screen and (max-width: 1000px){
            font-size: 1rem;
            padding: 0.1rem 0.6rem;
            background-color: brown;
        }    
    }
    .wordBrandName{
        font-size: 1.2rem;
        font-weight: 800;
        color: white;
        @media only screen and (max-width: 1000px){
            font-size: 1rem;
            font-weight: 800;
            color: white;
        }
    }
    .wordEmail{
        text-decoration: none;
    }
    @media only screen and (max-width: 1000px){
        font-size: 1rem;
        /* padding: 0 5%; */
        
    }
}

.Content .wordMyName:hover{
    background-color: brown;
}