*{
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
  
.headerContainner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6svh;
  background-color: black;
}

.headerLogoContainner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1% 1% 1% 3%;
}

.headerLogoContainner a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.headerLogoContainner img{
  width: auto;
  height: 1.4rem;
}

.headerLogoContainner img{
  padding-right: 0.5rem;
}

.headerNavbarContainner{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  float: right;
  overflow: auto;
}

.headerNavbarContainner ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3.5%;
  @media only screen and (max-width: 1000px){
    margin-right: 5%;
  }
}

.headerNavbarContainner li{
  list-style: none;
  padding-left: 5%;
}

.headerNavbarContainner a{
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.headerNavbarContainner a:hover{
  color: white;
}
