*{
  font-family: 'Manrope', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
  
.mainContainner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6svh;
  background-color: black;
}

.logoContainner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1% 1% 1% 3%;
}

.logoContainner a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.logoContainner img{
  width: auto;
  height: 1.4rem;
}

.logoContainner img{
  padding-right: 0.5rem;
}






.navbarContainner{
  /* flex-grow: 1; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  float: right;
  overflow: auto;
}

.navbarContainner ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 3.5%;
}

.navbarContainner li{
  list-style: none;
  padding-left: 5%;
}

.navbarContainner a{
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navbarContainner a:hover{
  color: white;
}





.hamburgerContainner{
  position: absolute;
  top: 1.5%;
  right: 3%;
  visibility: hidden;
  height: 3svh;
  width: 3svh;
  background-image: url("/Logos/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
}




.input{
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 3;
  cursor: pointer;
}

@media only screen and (max-width: 1000px){
  .input{
    display: inline;
    opacity: 0;
    height: 6svh;
    width: 12svh;
  }
  .navbarContainner{
    visibility: hidden;
  }
  .hamburgerContainner{
    visibility: visible;
  }
  input:checked + .mainContainner{
    height: 100svh;
    width: 100%;
    position: absolute;
    overflow-y: hidden;
    top: 0%;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    
    .hamburgerContainner{
      background-image: url("/Logos/hamburgerCross.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }



    .logoContainner{
      height: 5svh;
    }
    .logoContainner img{
      width: auto;
      height: 1.38rem;
      padding-right: 0.5rem;
    }



    .navbarContainner{
      visibility: visible;
      flex-grow: 1;
      padding-bottom: 3.5rem;
      height: 88svh;
      overflow: hidden;
    }
    
    ul{
      background-color: black;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0%;
    }
    li{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      height: 3.5rem;
      border-block-start: 0.1rem solid #33333388;
    }
    li:nth-last-of-type(1){
      border-block-end: 0.1rem solid #33333388;
    }
    .navbarContainner a{
      width: 100%;
      padding-right: 3.5%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      height: 100%;
    }
  }
} 